.card-center{
  width:98%; // adjust width on your ion-card suitable on your screen
  display:block;
  margin: 20 auto;
  text-align: center;
}

.customLoading {
  --background: #222;
  --spinner-color: #BB162B;

  color: #fff;
}